{{#if products.length}}
    <table class="table table-dark table-hover">
        <thead class="table-dark">
            <tr class="table-dark">
                <th scope="col" class="table-dark">Nombre</th>
                <th scope="col" class="table-dark">Precio</th>
                <th scope="col" class="table-dark">Foto</th>
            </tr>
        </thead>
        <tbody class="table-dark">
            {{#each products}}
                <tr class="table-dark">
                    <td class="table-dark">{{this.title}}</td>
                    <td class="table-dark">{{this.price}}</td>
                    <td class="table-dark">
                        <img src="{{this.thumbnail}}" alt="{{this.title}}"/>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <h1 class="text-center">No hay productos cargados</h1>
{{/if}}